<a href=""></a>

<h1>@ViewBag.InfoDish.Name</h1>
<h3>@ViewBag.InfoDish.Chef</h3>
<p>@ViewBag.InfoDish.Description</p>
<p>Calories: @ViewBag.InfoDish.Calories</p>
<p>Tastiness: @ViewBag.InfoDish.Tastiness</p>

<a href="Delete/@ViewBag.InfoDish.DishId" class="btn btn-danger">Delete</a>
<a href="Edit/@ViewBag.InfoDish.DishId" class="btn btn-primary">Edit</a>